In [22]:
# Lendo o arquivo importado

import pandas as pd

uri = "https://gist.githubusercontent.com/flaviossantana/5da01645fb6b3e82fc77fb1764295ff7/raw/991593624aeada22a10dcf82417a7aa3bba999ed/acessos.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [27]:
# Renomeando as colunas do arquivo

dePara = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns=dePara) 
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [34]:
# Separando as colunas de dados

x = dados[["principal","como_funciona","contato"]]
y = dados["comprou"]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [38]:
# Verificando quantos elementos temos e o formato em nossos dados
# (linhas, colunas)

dados.shape

(99, 4)

In [63]:
# Separamos 75% da massa de dados para treinamento do algoritimo
# Coletando os primeiros 75 registros
# (linhas, colunas)

treino_x = x[:75]
treino_y = y[:75]

treino_x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [65]:
# Separamos ~25% da massa de dados para teste do algoritimo
# Coletando os últimos 24 registros
# (linhas, colunas)

teste_x = x[75:]
teste_y = y[75:]

teste_x.head()

    principal  como_funciona  contato
75          0              1        0
76          0              0        1
77          0              1        0
78          0              0        1
79          1              1        0

In [71]:
treino_y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [66]:
print("Trinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)) )

Trinaremos com 75 elementos e testaremos com 24 elementos

In [84]:
# Treinando o algoritimo

from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [87]:
# Fazendo previsões

from sklearn.metrics import accuracy_score

previsoes = modelo.predict(teste_x)

print(teste_x)
print(previsoes)

acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acurácia foi de %.2f%%" % acuracia)

    principal  como_funciona  contato
75          0              1        0
76          0              0        1
77          0              1        0
78          0              0        1
79          1              1        0
80          0              0        1
81          0              0        1
82          0              0        1
83          1              0        1
84          1              0        1
85          1              1        0
86          1              1        0
87          0              0        1
88          0              0        1
89          1              0        1
90          1              0        1
91          1              1        0
92          1              1        0
93          0              0        1
94          0              0        1
95          1              1        1
96          0              0        1
97          0              1        0
98          0              0        0
[0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0]
A acurácia foi de 95.83%

A acurácia foi de 95.83%